*{ 
margin: 0;
padding: 0;
box-sizing: border-box;                                                             ;

}  
 
header {
  width: 100%;
  padding: 20px 8%;
  background-color: hotpink;
}

#logo {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.navbar {
  width: 100%;
  font-size:50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav_lista {
  display: flex;
  list-style: none;
  gap: 80px;
  text-transform: uppercase;
}

.nav_item {
  font-size: 25px;
  color: darkred;
}

.nav_item:hover {
  background-color: rgb(166, 110, 218);
  color: black;
  text-decoration: underline;
}

.home {
  display: flex;
  min-height: calc(100vh - 91px);
  
}

section {
    width: 100%;
    padding: 20px 8%;
    display: flex;
  }
  .titulo {
    font-size: 4rem;
    color: rgb(55, 6, 102);
  }

  .titulocor {
    color: rgb(170, 109, 228);
  }